@{ Layout = null;}
@{
    string sortcolumn = (string)ViewBag.sortcolumn;
    string sortorder = (string)ViewBag.sortorder;
    Int64 Total = (Int64)ViewBag.total;
    var PageNo = (Int64)ViewBag.pageno;
    var Items = (Int64)ViewBag.items;
    //Int64 RCount = (Int64)ViewBag.RCount;

    List<TCAssociationTool.Entities.Events> Eventslist = ViewBag.Eventslist;
      
}

<script type="text/javascript">
    $(document).ready(function () {
        $('.alert-danger').append('<i class="fa fa-ban"></i><button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>');
        $('.alert-success').append('<i class="fa fa-check"></i><button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>');
    });

    function EventsStatus(EventId) {

        $.ajax({
            type: "POST",
            url: '@Url.Action("EventsUpdateMainStatus", "Events")', // the URL of the controller action method
            data: { EventId: EventId }, // optional data
            datatype: "JSON",
            success: function (result) {
                if (result.ok) {
                    $('#divmessage').html(result.data);
                    EventBind($('#hdnPageNo').val());
                    $('.alert-success').append('<i class="fa fa-check"></i><button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>');
                }
                else {
                    $('#divmessage').html(result.data);
                    $('.alert-danger').append('<i class="fa fa-ban"></i><button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>');
                }
            }
        });
    }

</script>
        @if (Total == -1)
        {
            <div class="norecords">Sorry failed processing your request.</div> 
        }
        else
        {
            <table width="100%" class="table table-bordered table-hover">
                 <thead>
                    <tr>
                        <th width="40" style="text-align:center;">S.No.</th>
                        <th><a onclick="javascript:sortresult('EventName');" class="white-t-u">Event Name @if (sortcolumn == "EventName")
                         {<img alt="@(sortorder)" title="@(sortorder)" src="Content/Admin/images/sort_@(sortorder).gif" /> }</a></th>
                        <th width="150"><a onclick="javascript:sortresult('StartDate');" class="white-t-u">Date @if (sortcolumn == "StartDate")
                         {<img alt="@(sortorder)" title="@(sortorder)" src="Content/Admin/images/sort_@(sortorder).gif" /> }</a></th>
                        <th width="150"><a onclick="javascript:sortresult('IsRegistration');" class="white-t-u">Registrations  @if (sortcolumn == "IsRegistration")
                         {<img alt="@(sortorder)" title="@(sortorder)" src="Content/Admin/images/sort_@(sortorder).gif" /> }</a></th>
                        <th width="150"><a onclick="javascript:sortresult('EventCategory');" class="white-t-u">Category @if (sortcolumn == "EventCategory")
                         {<img alt="@(sortorder)" title="@(sortorder)" src="Content/Admin/images/sort_@(sortorder).gif" /> }</a></th> 
                        <th width="70" style="text-align:center;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Eventslist.Count != 0)
                    {
                        foreach (var item in Eventslist)
                        {
                        <tr>
                            <td style="text-align:center;">@item.RId</td>
                            <td>@item.EventName</td>
                            <td>@(item.StartDate == DateTime.MinValue?"": item.StartDate.ToString("dd-MM-yyyy"))</td>
                            <td> @if (item.IsRegistration == true)
                                {
                                    <a href="@Url.Action("Index", "EventRegistrations", new { EventId = item.EventId, EventName = item.EventName})">Registrations<span class="red-t l-m8">(@item.UsersCount)</span></a>
                                }
                                else
                                {
                                @Html.Raw("No Registrations")
                                }

                            </td>
                            <td>@item.EventCategory</td> 
                            <td style="text-align:center;">
                                <a title="View" href="@Url.Action("ViewEvent", "Events", new { EventId = item.EventId })"><i class="fa fa-eye"></i></a>
                                <a title="Edit" href="@Url.Action("EditEvent", "Events", new { EventId = item.EventId })" class="sepV_a"><i class="fa fa-pencil-square-o"></i></a>
                                <a title="Delete" id="54" class="eventdelete" onclick="javascript:Delete(@(item.EventId), '@(item.BannerUrl)')"><i class="fa fa-trash-o"></i></a>
                            </td>
                        </tr>                       
                        }
                    }
                    else
                    {
                        <tr>
                            <td class="norecords" colspan="6">No Events Found.</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
   

@Html.Raw(TCAssociationTool.BLL.Common.SetPaging((Int64)ViewBag.items, ref Total, (Int64)ViewBag.pageno, "pagination pagination-centered"))
