@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_MainLayout.cshtml";
}

<script type="text/javascript">

    $(document).ready(function () {
        $('#Volunteers').addClass('active');
        $('#wVolunteerCategories').addClass('active');
        $('.alert-danger').append('<i class="fa fa-ban"></i><button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>');
        $('.alert-success').append('<i class="fa fa-check"></i><button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>');
        PagerClickBind();

    });

    function PagerClickBind() {
        $(".pagination a").bind("click", function () {
            VolunteerCategoriesBind($(this).text());
        });
    }

    function sortresult(sortcolumn) {
        $('#hdnsortorder').val(($('#hdnsortorder').val() == 'ASC' ? 'DESC' : 'ASC'));
        $('#hdnsortcolumn').val(sortcolumn);
        VolunteerCategoriesBind(1);
    }

    function Add() {
        clearVolunteerCategories();
        $('#AddDonor-Category').modal('show');
        $('#lbltitle').html('Add Volunteer Category');
    }
   
    function clearVolunteerCategories() {
        $('#VolunteerCategoryId').val('');
        $('#CategoryName').val('');
        $('#OrderNo').val('');
        $('#spanCategoryName').html('');
        $("#AddVolunteerCategories").dialog("close");
        $('#CategoryName').focus().removeClass("validate");
        $('#OrderNo').focus().removeClass("validate");
    }


    function VolunteerCategoriesBind(Pageno) {
        var pageno = Common.Pageno(Pageno);
        var sortcolumn = $('#hdnsortcolumn').val();
        var sortorder = $('#hdnsortorder').val();
        var items = $('#txtitems').val();
        var Search = $('#keyword').val().trim();
       
        $.ajax({
            url: '@Url.Action("VolunteerCategoriesList", "VolunteerCategories")',
            type: 'GET',
            cache: false,
            data: { Search: Search, PageNo: pageno, SortColumn: sortcolumn, SortOrder: sortorder, Items: items },
            success: function (result) {
                $('#divVolunteerCategories').html(result);
                PagerClickBind();
            }
        });
    }

    function VolunteerCategoriesView(VolunteerCategoryId) {

        $.ajax({
            url: '@Url.Action("ViewVolunteerCategory", "VolunteerCategories")',
            type: 'POST',
            data: { VolunteerCategoryId: VolunteerCategoryId },
            datatype: "JSON",
            success: function (result) {
                if (result.ok) {
                    var objVolunteerCategories = result.data;
                    $('#Vlbltitle').html('View Volunteer Category');
                    $('#VlblName').val(objVolunteerCategories.CategoryName);
                    $('#VlblOrder').val(objVolunteerCategories.OrderNo);
                    $('#VolunteerCategoriesView').modal('show');
                }
                else {
                    alert(result.data);
                }
            }
        });
    }

    function VolunteerCategoriesEdit(VolunteerCategoryId) {
        $.ajax({
            url: '@Url.Action("EditVolunteerCategory", "VolunteerCategories")',
            type: 'POST',
            data: { VolunteerCategoryId: VolunteerCategoryId },
            datatype: "JSON",
            success: function (result) {
                if (result.ok) {
                    var objVolunteerCategories = result.data;
                    $('#VolunteerCategoryId').val(objVolunteerCategories.VolunteerCategoryId);
                    $('#CategoryName').val(objVolunteerCategories.CategoryName);
                    $('#OrderNo').val(objVolunteerCategories.OrderNo);
                    $('#lbltitle').html('Edit Volunteer Category');

                    $('#CategoryName').focus().removeClass("validate");
                    $('#OrderNo').focus().removeClass("validate");

                    $('#AddDonor-Category').modal('show');
                }
                else {
                    alert(result.data);
                }
            }
        });
    }



    function Delete(VolunteerCategoryId) {
        var val2 = confirm("Do you want to delete this record?");
        if (val2) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("DeleteVolunteerCategory", "VolunteerCategories")',  // the URL of the controller action method
                data: { VolunteerCategoryId: VolunteerCategoryId }, // optional data
                success: function (result) {
                    $("#divmessage").html(result.data);
                    $('.alert-success').append('<i class="fa fa-check"></i><button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>');
                    VolunteerCategoriesBind($('#hdnPageNo').val());
                },
                error: function (req, status, error) {
                    $('.alert-danger').append('<i class="fa fa-ban"></i><button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>');
                    $("#divmessage").html(result.data);
                }
            });
        }
    }

    function Validate() {

        //Account Information
      if ($.trim($('#CategoryName').val()) == '') { document.getElementsByName('CategoryName')[0].placeholder = 'Category Name Required'; $('#CategoryName').focus().addClass("validate"); return false; } else { $('#CategoryName').focus().removeClass("validate"); }
      
        return true;
    }
    function ResetValidateClass() {
        $('#CategoryName').removeClass("validate");
    }
    function ClearSearch() {
        $('#keyword').val('');
        VolunteerCategoriesBind(1);
    }
</script>

<input id="hdnPageNo" type="hidden" value="1" />
<input id="hdnsortcolumn" type="hidden" value="OrderNo" />
<input id="hdnsortorder" type="hidden" value="DESC" />

<!-- breadcumb -->


<div class="content-header">
    <h1>Volunteer Categories</h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i>Home</a></li>
        <li class="active">Volunteer Categories</li>
    </ol>
</div>

<!--end breadcumb -->

<div class="content">
    <!-- Main content -->

    <div id="divmessage">
        @if (TempData["message"] != null)
        { @Html.Raw(TempData["message"].ToString())}

        @if (ViewBag.message != null)
        { @Html.Raw(ViewBag.message.ToString())}
    </div>
    <div class="box">
        <div class="clearfix box-body">
            <div class="clearfix row">
                <div class="col-xs-12 col-lg-4 col-sm-6">
                    <label>Search</label>
                    <input type="text" placeholder="Category Name" name="keyword" id="keyword" class="form-control" />
                </div>
                <div class="col-xs-12 col-lg-8 col-sm-6">
                    <div>
                        <label>&nbsp;</label>
                    </div>
                    <button class="btn btn-primary" type="submit" onclick="VolunteerCategoriesBind(1);">Search</button>
                    <button class="btn btn-info" type="submit" onclick="ClearSearch();">Clear</button>
                    <a data-toggle="modal" onclick="Add();" class="btn btn-danger pull-right">Add Volunteer Category</a>
                </div>
            </div>
        </div>
        <div id="divVolunteerCategories" class="box-body table-responsive">
            @{Html.RenderAction("VolunteerCategoriesList", "VolunteerCategories");}
        </div>


    </div>
</div>


<div class="modal fade" id="AddDonor-Category" tabindex="-1" role="dialog" aria-hidden="true">
    @using (Html.BeginForm("AddVolunteerCategory", "VolunteerCategories", FormMethod.Post, new { style = "margin-bottom:0" }))    {
        <input type="hidden" id="VolunteerCategoryId" name="VolunteerCategoryId" value="0" />
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><span id="lbltitle"></span></h4>
                </div>
                <div class="modal-body validation">
                    <div class="row">
                        <div class="col-xs-12 col-lg-12">
                            <label>Category Name <span class="red-t">*</span></label>
                            <input type="text" id="CategoryName" name="CategoryName" onkeypress="ResetValidateClass();" onclick="ResetValidateClass();" placeholder="Category Name *" value="" class="form-control">
                        </div>
                    </div>
                     <div class="row">
                        <div class="col-xs-12 col-lg-12">
                            <label>Order No </label>
                            <input type="text" id="OrderNo" name="OrderNo" onkeypress="return Common.isNumberKey(event); ResetValidateClass();"  onclick="ResetValidateClass();" maxlength="3" placeholder="Order No" value="" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="modal-footer clearfix">
                    <input type="submit" onclick="return Validate();" value="Submit" class="btn btn-danger">
                    <a class="btn btn-primary pull-left" data-dismiss="modal">Cancel</a>
                </div>
            </div>
        </div> 
    }
</div>

<div class="modal fade" id="VolunteerCategoriesView" tabindex="-1" role="dialog" aria-hidden="true">
  
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><span id="Vlbltitle"></span></h4>
                </div>
                <div class="modal-body validation">
                    <div class="row">
                        <div class="col-xs-12 col-lg-12">
                            <label>Category Name :</label>
                           <span id="VlblName"></span>
                        </div>
                    </div>
                      <div class="row">
                        <div class="col-xs-12 col-lg-12">
                            <label>Order No </label>
                             <span id="VlblOrder"></span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer clearfix">
                   
                    <a class="btn btn-primary pull-left" data-dismiss="modal">Cancel</a>
                </div>
            </div>
        </div>
    
</div>

