@{
    ViewBag.Title = "VideoEdit";
    Layout = "~/Areas/Admin/Views/Shared/_MainLayout.cshtml";

    List<TCAssociationTool.Entities.VideoCategories> lstVideoCategories = ViewBag.lstVideoCategories;
    TCAssociationTool.Entities.Videos objVideos = ViewBag.objVideos;
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#Gallery').addClass('active');
        $('.alert-danger').append('<i class="fa fa-ban"></i><button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>');
        $('.alert-success').append('<i class="fa fa-check"></i><button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>');
        $('#wVideoGallery').addClass('active');

    });

    function Validate() {
        //if ($.trim($('#VideoCategoryId').val()) == "") { $('#VideoCategoryId').focus().addClass('validate'); return false; } else { $('#spanVideoCategoryId').html(''); $('#VideoCategoryId').focus().removeClass('validate'); }
        //if ($.trim($('#Heading').val()) == "") { $('#Heading').focus().addClass('validate'); return false; } else { $('#spanHeading').html(''); }
        //if ($.trim($('#VideoUrl').val()) == "") { $('#VideoUrl').focus().addClass('validate'); return false; } else { $('#spanVideoUrl').html(''); $('#VideoUrl').focus().removeClass('validate'); }
       if ($.trim($('#VideoCategoryId').val()) == '') { document.getElementsByName('VideoCategoryId')[0].placeholder = 'Category Required'; $('#VideoCategoryId').focus().addClass("validate"); return false; } else { $('#VideoCategoryId').focus().removeClass("validate"); }
       if ($.trim($('#Heading').val()) == '') { document.getElementsByName('Heading')[0].placeholder = 'Heading Required'; $('#Heading').focus().addClass("validate"); return false; } else { $('#Heading').focus().removeClass("validate"); }
       if ($.trim($('#VideoUrl').val()) == '') { document.getElementsByName('VideoUrl')[0].placeholder = 'Video Url Required'; $('#VideoUrl').focus().addClass("validate"); return false; } else { $('#VideoUrl').focus().removeClass("validate"); }
      
        return true;
    }
</script>

<!-- breadcumb -->
<div class="content-header">
    <h1>Edit Video </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i>Home</a></li>
        <li><a href="@Url.Action("Index", "VideoGallery")"><i class="fa fa-youtube-play"></i>Video Categories</a></li>
        <li><a href="@Url.Action("Videos", "VideoGallery")"><i class="fa fa-youtube-play"></i>Videos</a></li>
        <li class="active">Edit Video</li>
    </ol>
</div>
<!-- end breadcumb -->

<div class="content">
    <div id="divmessage">
        @if (TempData["message"] != null)
        { @Html.Raw(TempData["message"].ToString())}

        @if (ViewBag.message != null)
        { @Html.Raw(ViewBag.message.ToString())}
    </div>
    <div class="clearfix sepH_b"></div>
    @using (Html.BeginForm("AddVideo", "VideoGallery", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="hidden" value="@(objVideos.VideoId)" name="VideoId" Id="VideoId" />
        <div class="box validation">
            <!-- /.box-header -->
            <div class="box-header">
                <h3 class="box-title dis-in"></h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-xs-12 col-lg-4 col-sm-6">
                        <label>Category : </label>
                        <select id="VideoCategoryId" name="VideoCategoryId" class="form-control">
                            <option value="">-- Select Category --</option>
                            @if (lstVideoCategories.Count > 0)
                            {
                                foreach (var item in lstVideoCategories)
                                {
                                <option @(item.VideoCategoryId == objVideos.VideoCategoryId ? "selected = selected" : "") value="@(item.VideoCategoryId)">@(item.CategoryName)</option>
                                }
                            }
                        </select>
                        <span id="spanVideoCategoryId" class="field-validation-error"></span>
                    </div>
                    <div class="col-xs-12 col-lg-4 col-sm-6">
                        <label>Title : </label>
                        <input type="text" placeholder="Heading *" id="Heading" onkeypress="ResetValidateClass();" value="@objVideos.Heading" onclick="ResetValidateClass();" name="Heading" class="form-control">
                        <span id="spanHeading" class="field-validation-error"></span>
                    </div>
                     <div class="col-xs-12 col-lg-4 col-sm-6">
                        <label>Video Description : </label>
                        <input type="text" placeholder="Video Description *" id="VideoDescription" value="@objVideos.VideoDescription" onkeypress="ResetValidateClass();" onclick="ResetValidateClass();" name="VideoDescription" class="form-control"/>
                         <span id="spanVideoDescription" class="field-validation-error"></span>
                    </div>
                    <div class="col-xs-12 col-lg-4 col-sm-6">
                        <label>Display Order :</label>
                        <input type="text" placeholder="Display Order *" id="DisplayOrder" maxlength="3" onkeypress="return Common.isNumberKey(event)" value="@objVideos.DisplayOrder" onclick="ResetValidateClass();" name="DisplayOrder" class="form-control"/>
                        <label id="spanDisplayOrder" class="field-validation-error"></label>
                    </div>
                    @*<div class="col-xs-12 col-lg-4 col-sm-6">
                        <label>IsHome : </label>
                        <select class="form-control" id="IsHome" name="IsHome">
                            <option value="">-- Select --</option>
                            <option @(objVideos.IsHome?"selected=selected":"") value="true">Yes</option>
                            <option @(!objVideos.IsHome?"selected=selected":"") value="false">No</option>
                        </select>                        
                        <span id="spanIsHome" class="field-validation-error"></span>
                    </div>*@
                   <div class="col-xs-12 col-lg-4 col-sm-6">
                        <label>Video Url :  <span class="red-t">Ex: (Video id is - y2atip0h-Kg)</span> </label>
                        <input type="text" placeholder="Video Url" id="VideoUrl"  maxlength="11" value="@objVideos.VideoUrl" onkeypress="ResetValidateClass();" onclick="ResetValidateClass();" name="VideoUrl" class="form-control"/>
                        <span id="spanVideoUrl" class="field-validation-error"></span> 
                    </div>
                    
                </div>
            </div>
        </div> 
        <div class="box">
            <!-- /.box-header -->
            <div class="box-body text-right">
                <input type="submit" onclick="return Validate()" class="btn btn-primary" value="Submit" />
                <a class="btn btn-info" href="@Url.Action("Videos", "VideoGallery", new { VideoCategoryId = objVideos.VideoCategoryId })">Cancel</a>
            </div>
            <!-- /.box-body -->
        </div>
    }
</div>

