@{
    ViewBag.Title = "Photos - " + System.Configuration.ConfigurationManager.AppSettings["ApplicationName"];
    Layout = "~/Areas/User/Views/Shared/_MainLayout.cshtml";


    var lstPhoto = (List<TCAssociationTool.Entities.Photos>)ViewBag.lstPhotos;
    var lstPhotoCategories = (List<TCAssociationTool.Entities.PhotoCategories>)ViewBag.lstPhotoCategories;

    var imglocNormal = System.Configuration.ConfigurationManager.AppSettings["adminimgurl"] + "photogallery/normalphoto/";

    var imglocNormal1 = System.Configuration.ConfigurationManager.AppSettings["adminimgurl"] + "photogallery/thumbphoto/";
    ViewBag.heading = "Photos";
    var CategoryName = ViewBag.CategoryName;
}
					<h3 class="clearfix m0 FuturaPT-Demi font32 l-h30 eventstex-t t-t-u t-p10 tabhorizontal-b-p10 tabhorizontal-font26">@TCAssociationTool.BLL.Common.DecodeURL(CategoryName)</h3>
					<img src="Content/User/images/head-bor-img.png" alt="head-bor-img" class="t-p12 b-p20" width="895" height="3">
					
					<!-- gallery section -->
@*<div>
							 <h4 class="clearfix FuturaPT-Demi font22">Community Service Projects</h4>
						</div>*@
    @if (lstPhoto != null && lstPhoto.Count != 0)
{
					<div class="photo_gallery_block t-c mt-20p">
                          @foreach (var item in lstPhoto)
        {	
						<div class="photo_gallery_box">
                             @if (item.AlbumLink != "")
                    {
							<a  href="@item.AlbumLink" target="_blank">
								<img class="photo_gallery_icon w-100" src="@TCAssociationTool.BLL.Common.ValidateImage((imglocNormal + item.ImageUrl), imglocNormal + "no-image.jpg")" alt="head-bor-img" />
								<div class="">
									<p class="m0 red-text">@item.ImageDescription</p>
								</div>
							</a>
                             }
                            else
                            {
                                 <a>
								<img class="photo_gallery_icon w-100" src="@TCAssociationTool.BLL.Common.ValidateImage((imglocNormal + item.ImageUrl), imglocNormal + "no-image.jpg")" alt="head-bor-img" />
								<div class="">
									<p class="m0 red-text"> @item.ImageDescription </p>
								</div>
							</a>
                             }
						</div>
                          }												
					</div>
    }
					
					<!-- gallery section ends-->                