@{
    ViewBag.Title = "Album - " + System.Configuration.ConfigurationManager.AppSettings["ApplicationName"];
    Layout = "~/Areas/User/Views/Shared/_MainLayout.cshtml";
    var lstPhoto = (List<TCAssociationTool.Entities.Photos>)ViewBag.lstPhotos;
    var lstPhotoCategories = (List<TCAssociationTool.Entities.PhotoCategories>)ViewBag.lstPhotoCategories;

    var imglocNormal = System.Configuration.ConfigurationManager.AppSettings["adminimgurl"] + "photogallery/normalphoto/";

    var imglocNormal1 = System.Configuration.ConfigurationManager.AppSettings["adminimgurl"] + "photogallery/thumbphoto/";
    ViewBag.heading = "Gallery";

    Int64 PageId = 0;
    int Status = 0;
    TCAssociationTool.BLL.InnerPages _InnerPages = new TCAssociationTool.BLL.InnerPages();
    TCAssociationTool.Entities.InnerPages objInnerPages = _InnerPages.GetInnerPagesListById(PageId, "Media Page Content", ref Status);

    var Year = ViewBag.Year;
}
<script type="text/javascript">

    function PagerClickBind() {
        $(".pagination a").bind("click", function () {
            PhotosBind($(this).text());
        });
    }

    function PhotosBind() {
        var Year = $('#Sort').val();
        var url = '@System.Configuration.ConfigurationManager.AppSettings["baseurl"]' + Year + '/photo-gallery.html';
        window.location.href = url;
    }
</script>

<h3 class="clearfix m0 FuturaPT-Demi font32 l-h30 eventstex-t t-t-u t-p10 tabhorizontal-b-p10 tabhorizontal-font26">Photo Gallery</h3>
					<img src="Content/User/images/head-bor-img.png" alt="head-bor-img" class="t-p12 b-p20" width="895" height="3">
					
					<article class="clearfix part-row t-r">	
                        <article class="part-8 t-b-p5 position-r">
                         
                        </article>
						 <article class="part-4 t-b-p5 position-r">
						   <article class="clearfix dropdown">
                              <select class="dropdown-select ui-select" id="Sort" name="Sort" onchange="PhotosBind();" style="height:44px;">
									<option value="">Photo Gallery</option>
									 @for (int i = (DateTime.Now.Year); i >= (DateTime.Now.Year - 15); i--)
            {
                <option @(Year == i.ToString() ? "selected=selected" : "") value="@i">@i</option>
            }										  
                              </select>
                              </article>
                        </article>
                      </article>
@if (lstPhotoCategories != null && lstPhotoCategories.Count != 0 && lstPhoto.Count != 0)
{
    foreach (var PhotoCategory in lstPhotoCategories)
    {
        if (PhotoCategory.CategoryName != "Media Coverage")
        {
            <div class="frm-hd t-p15">
						<h5 class="FuturaPT-Demi red-text font20 m0 b-p10 dis-in" style="border-bottom:1px dashed #c0dbd0;">@PhotoCategory.CategoryName</h5>
					  </div>
   
 if (lstPhoto != null && lstPhoto.Count != 0)
 {
					<div class="photo_gallery_block t-c mt-20p">
                          @foreach (var item in lstPhoto)
                          {	
						<div class="photo_gallery_box">
                             @if (item.AlbumLink != "")
                             {
							<a  href="@item.AlbumLink" target="_blank">
								<img class="photo_gallery_icon w-100" src="@TCAssociationTool.BLL.Common.ValidateImage((imglocNormal + item.ImageUrl), imglocNormal + "no-image.jpg")" alt="head-bor-img" />
								<div class="">
									<p class="m0 red-text">@item.ImageDescription</p>
								</div>
							</a>
                             }
                             else
                             {
                                 <a>
								<img class="photo_gallery_icon w-100" src="@TCAssociationTool.BLL.Common.ValidateImage((imglocNormal + item.ImageUrl), imglocNormal + "no-image.jpg")" alt="head-bor-img" />
								<div class="">
									<p class="m0 red-text"> @item.ImageDescription </p>
								</div>
							</a>
                             }
						</div>
                          }												
					</div>
    
     <a target="_blank" href="@Url.Action("PhotosList", "Gallery", new { CategoryName = TCAssociationTool.BLL.Common.EncodeURL(PhotoCategory.CategoryName) })">
                    <article class="clearfix border-radius13 f-r" style="background-color: #ffdc7c;">
                        <h3 class="clearfix m0 l-h10 Roboto-Medium t-t-u font11 t-b-p10 l-r-p20 font-w-b" style="letter-spacing: 2px; color: #f00a39;">View All</h3>
                    </article>
                </a>
 }
        }
    }
}

