@{
    ViewBag.Title = "Acknowledgement - " + System.Configuration.ConfigurationManager.AppSettings["ApplicationName"];
    Layout = "~/Areas/User/Views/Shared/_MainLayout.cshtml";
}

<article class="clearfix t-m0 l-h28 t-t-u Impact font26 evesec-tex letespa1 b-m25 tabhorizontal-b-m10 mobile-b-m5">acknowl<span class="evered-t">edgement</span><i class="inertitsid-img l-m10 mobile-hide">&nbsp;</i></article>
          <article class="clearfix l-r-m-auto mobile-t-p20" style="max-width:750px;">
            <article class="clearfix t-c"> <img src="Content/User/images/thankyou2.png" alt="" class="white-bg shadow border-radius10 p5" width="203" height="196"> </article>
            <article class="clearfix t-p15">
              <article class="clearfix border-t3 border border-radius5 shadow1 white-bg" style="border-top-color: #ff7e00;">
                <article class="clearfix part-row">
                  <article class="clearfix part-6 border-r grayborder1">
                    <article class="clearfix t-p15 b-p15">
                      <h4 class="clearfix t-m0 OpenSans font15 dk-t4"><span class="border-b grayborder1 rp35 tabhorizontal-r-p10 b-p10"><span class="l-p25"><b>Your Details</b></span></span></h4>
                    </article>
                    <article class="clearfix b-p25 l-p25">
                      @ViewBag.AddressName<br />
                                            @ViewBag.AddressStreet
                                            @ViewBag.AddressCity
                                            @ViewBag.AddressState
                                            @ViewBag.AddressCountry<br />
                                            @ViewBag.AddressZip<br />
                      <a href="mailto:@(ViewBag.PayerEmail)" class="Roboto-Medium font14 pnk-t l-h20 evesec-tex">@(ViewBag.PayerEmail)</a> </article>
                  </article>
                  <article class="clearfix part-6">
                    <article class="clearfix t-p15 b-p15 mobile-t-p0">
                      <h4 class="clearfix t-m0 OpenSans font15 dk-t4"><span class="border-b grayborder1 r-p45 b-p10"><span class="l-p25"><b>Payment Received By</b></span></span></h4>
                    </article>
                    <article class="clearfix b-p25 l-p25">
                      <h5 class="OpenSans dk-t4 t-m0 font15"> @System.Configuration.ConfigurationManager.AppSettings["ApplicationName"]</h5>
                      <a href="mailto:@(ViewBag.ReceiverEmail)" class="Roboto-Medium font14 l-h20 evesec-tex">@(ViewBag.ReceiverEmail)</a></article>
                  </article>
                </article>
              </article>
            </article>
            <article class="clearfix t-p25 overflow_x-a mobile-t-b20">
              <table class="table table-bordered OpenSans" width="100%" cellspacing="0" cellpadding="0" border="0">
                <tbody>
                  <tr class="">
                    <th width="16.6%" style="background-color:#ff7e00; color:#FFFFFF; text-align:center;" >Date &amp; Time</th>
                    <th width="23.7%" style="background-color:#ff7e00; color:#FFFFFF; text-align:center;">Transaction Details</th>
                    <th width="28.2%" style="background-color:#ff7e00; color:#FFFFFF; text-align:center;">Summery</th>
                    <th width="16.9%" style="background-color:#ff7e00; color:#FFFFFF; text-align:center;">Status</th>
                    <th width="14.6%" style="background-color:#ff7e00; color:#FFFFFF; text-align:center;">Total</th>
                  </tr>
                  <tr>
                    <td style="text-align:center;">@ViewBag.PaymentDate</td>
                                                    <td style="text-align:center;">@ViewBag.TransactionId</td>
                                                    <td style="text-align:center;">@System.Configuration.ConfigurationManager.AppSettings["ApplicationName"]</td>
                                                    <td style="text-align:center;">@ViewBag.PaymentStatus</td>
                                                    <td style="text-align:center;">$ @ViewBag.GrossTotal</td>
                  </tr>
                </tbody>
              </table>
            </article>

              <article class="clearfix t-p30 mobile-t-p20 message t-c">
                <a style="background-image:linear-gradient(90deg, #f53257 0%, #b273f3 100%); border-radius:4px; padding:14px 35px; color:#fff;" href="index.html" class="Raleway-Medium font14 t-t-u tabhorizontal-dis-in"><span class="v-align-m font22">BACK TO HOME</span></a>
            </article>
          </article>
