@{
    Layout = null;
    ViewBag.Title = "Volunteers - " + System.Configuration.ConfigurationManager.AppSettings["ApplicationName"];

    var lstVolunteers = (List<TCAssociationTool.Entities.Volunteers>)ViewBag.lstVolunteers;
}


 <article class="clearfix overflow_x-a">
                <article class="clearfix" style="min-width: 530px;">
                    <table width="100%" cellspacing="0" cellpadding="0" class="table table-hover table-bordered poppins-regular gray-t font13 m0">
                        <tbody>
                            <tr class="t-l yello-bg">
                                <th>S.No</th>
                                <th>User Name </th>
                                <th>Email</th>
                                @*<th>Phone No</th>*@
                                <th>Hours Spent</th>
                                <th>Status</th>
                                <th>#</th>
                               @* <th>Payment Status</th>*@
                            </tr>
                            @if (lstVolunteers != null && lstVolunteers.Count != 0)
                            {
                                Int64 i = 1;
                                foreach (var item in lstVolunteers)
                                {
                                <tr>
                                    <td align="left" style="text-align: center;">@item.RId</td>
                                    <td align="center" valign="middle">@(item.FirstName + " " + item.LastName)</td>
                                    <td align="center" valign="middle"><a href="mailto:@item.Email" class="black-t r-p5">@item.Email</a></td>
                                    <td align="center" valign="middle" class="orange-t">@((item.PhoneNo == null || item.PhoneNo == "") ? "N/A" : item.PhoneNo)</td>
                                    <td align="center" valign="middle" class="orange-t">@((item.HoursSpent == null || item.HoursSpent == "") ? "N/A" : item.HoursSpent) </td>
                                    <td align="center" valign="middle"> @(item.IsActive == true ? "Approved" : "Not Approved" )</td>
                                    
                                </tr>
                                    i++;
                                }
                            }
                            else
                            {
                             <tr>
                <td class="norecords" colspan="7">No Volunters Found.</td>
            </tr>
                            }
                        </tbody>
                    </table>
                </article>
            </article>