@{
    ViewBag.Title = "EditDetails";
    Layout = "~/Areas/Admin/Views/Shared/_MainLayout.cshtml";

    TCAssociationTool.Entities.Donors objDetails = ViewBag.objDonors;
    var objMembers = (TCAssociationTool.Entities.Members)ViewBag.objMembers;
    List<TCAssociationTool.Entities.DonationCategories> lstDonationCategories = ViewBag.lstDonationCategories;
    var cssloc = System.Configuration.ConfigurationManager.AppSettings["usersiteurl"] + "Content/Admin/front-end-style.css";

    var imglocNormal = System.Configuration.ConfigurationManager.AppSettings["adminimageurl"] + "innerpages/";

    var Type = ViewBag.Type;

    var lstPaymentMethod = (List<TCAssociationTool.Entities.PaymentMethods>)objMembers.lstPaymentMethod;
    var lstPaymentStatus = (List<TCAssociationTool.Entities.PaymentStatus>)objMembers.lstPaymentStatus;
}

<script type="text/javascript" src="ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="ckfinder/ckfinder.js"></script>

<script>
    $(document).ready(function () {
        $('#WebPages').addClass('active');
        $('#wDonors').addClass('active');
        $('.alert-danger').append('<i class="fa fa-ban"></i><button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>');
        $('.alert-success').append('<i class="fa fa-check"></i><button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>');
    });

    function Validate() {

        //Account Information
        if ($.trim($('#FirstName').val()) == '') { document.getElementsByName('FirstName')[0].placeholder = 'Required'; $('#FirstName').focus().addClass("validate"); return false; } else { $('#FirstName').focus().removeClass("validate"); }
        if ($.trim($('#LastName').val()) == '') { document.getElementsByName('LastName')[0].placeholder = 'Required'; $('#LastName').focus().addClass("validate"); return false; } else { $('#LastName').focus().removeClass("validate"); }
        if ($.trim($('#DonationCategoryId').val()) == '') { document.getElementsByName('DonationCategoryId')[0].placeholder = 'Required'; $('#DonationCategoryId').focus().addClass("validate"); return false; } else { $('#DonationCategoryId').focus().removeClass("validate"); }
      
        return true;
    }
    function ResetValidateClass() {
        $('#Heading').removeClass("validate");
        $('#DonationCategoryId').removeClass("validate");
    }
</script>

<!-- breadcumb -->
<div class="content-header">
    <h1>Edit Donor </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i>Home</a></li>
        <li><a href="@Url.Action("Index", "Donors")"><i class="fa fa-list-alt"></i>Donors</a></li>
        <li class="active">Edit Donor</li>
    </ol>
</div>
<!--end breadcumb -->
<div class="content">
    <!-- Main content -->
    <div id="divmessage">
        @if (TempData["message"] != null)
        { @Html.Raw(TempData["message"].ToString())}

        @if (ViewBag.message != null)
        { @Html.Raw(ViewBag.message.ToString())}
    </div>
    <div class="clearfix sepH_b"></div>
    @using (Html.BeginForm("AddDonor", "Donors", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {    
        <input type="hidden" name="DonorId" id="DonorId" value="@objDetails.DonorId" />
        <div class="box validation">
           
            <div class="box-body">
                <div class="row">
                    <div class="col-xs-12 col-lg-3 col-sm-6">
                        <label>First Name : <span class="red-t">*</span></label>
                        <input type="text" id="FirstName" onkeypress="ResetValidateClass();" value="@objDetails.FirstName" onclick="ResetValidateClass();" name="FirstName" class="form-control">
                    </div>
                    <div class="col-xs-12 col-lg-3 col-sm-6">
                        <label>Last Name : <span class="red-t">*</span></label>
                        <input type="text" id="LastName" onkeypress="ResetValidateClass();" value="@objDetails.LastName" onclick="ResetValidateClass();" name="LastName" class="form-control">
                    </div>
                    <div class="col-xs-12 col-lg-3 col-sm-6">
                        <label>Email : </label>
                        <input type="text" value="@objDetails.Email" id="Email" onclick="ResetValidateClass();" name="Email" class="form-control">
                    </div>
                    <div class="col-xs-12 col-lg-3 col-sm-6">
                        <label>Phone No : </label>
                        <input type="text" value="@objDetails.PhoneNo" id="PhoneNo" onclick="return Common.isNumberKey(event); ResetValidateClass();" name="PhoneNo" class="form-control">
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-lg-3 col-sm-6">
                        <label>Category : <span class="red-t">*</span></label>
                        <select id="DonationCategoryId" class="form-control" name="DonationCategoryId" onclick="ResetValidateClass();">
                            <option value="">- Select Category -</option>
                            @if (lstDonationCategories.Count > 0)
                            {
                                foreach (var item in lstDonationCategories)
                                {
                                    <option @(item.CategoryName == objDetails.DonationProgram ? "selected=selected" : "") value="@(item.DonationCategoryId)">@(item.CategoryName)</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="col-xs-12 col-lg-3 col-sm-6">
                        <label>DonationProgram : </label>
                        <input type="text" value="@objDetails.DonationProgram" id="DonationProgram" onclick="ResetValidateClass();" name="DonationProgram" class="form-control">
                    </div>
                    <div class="col-xs-12 col-lg-3 col-sm-6">
                        <label>DonationCause : </label>
                        <input type="text" value="@objDetails.DonationCause" id="DonationCause" onclick="ResetValidateClass();" name="DonationCause" class="form-control">
                    </div>
                    <div class="col-xs-12 col-lg-3 col-sm-6">
                        <label>Amount : </label>
                        <input type="text" onkeypress="return Common.isNumberKey(event)" id="Amount" value="@objDetails.Amount" name="Amount" class="form-control">
                    </div>

                </div>

                <div class="row">
                    <div class="col-xs-12 col-lg-3 col-sm-6">
                        <label>TransactionId : </label>
                        <input type="text" id="TransactionId" value=" @(objDetails.TransactionId == "0" ? "N/A" : objDetails.TransactionId)" name="TransactionId" class="form-control">
                    </div>
                    <div class="col-xs-12 col-lg-3 col-sm-6">
                        <label class="t-p5">Payment Method :</label>
                        <select class="form-control" name="PaymentMethodId" id="PaymentMethodId">
                            @if (lstPaymentMethod != null)
                            {
                                <option value="">Select</option>
                                foreach (var item in lstPaymentMethod)
                                {
                                    <option @(item.PaymentMethodId == objDetails.PaymentMethodId ? "selected=selected" : "") value="@item.PaymentMethodId">@item.PaymentMethod</option>
                                }
                            }
                        </select>
                        <span class="field-validation-error" id="spanPaymentMethodId"></span>
                    </div>
                    <div class="col-xs-12 col-lg-3 col-sm-6">
                        <label>Payment Status :</label>
                        <select class="form-control" name="PaymentStatusId" id="PaymentStatusId">
                            @if (lstPaymentStatus != null)
                            {
                                <option value="">Select</option>
                                foreach (var item in lstPaymentStatus)
                                {
                                    <option @(item.PaymentStatusId == objDetails.PaymentStatusId ? "selected=selected" : "") value="@item.PaymentStatusId">@item.PaymentStatus1</option>
                                }
                            }
                        </select>
                        <span class="field-validation-error" id="spanState"></span>
                    </div>
                    <div class="col-xs-12 col-lg-3 col-sm-6">
                        <label>OrderDate : </label>
                        <input type="text" id="OrderDate" value="@(objDetails.OrderDate==DateTime.MinValue?"":objDetails.OrderDate.ToString("dd/MM/yyyy"))" name="OrderDate" class="form-control">
                    </div>
                </div>
                @* <div class="col-xs-12 col-lg-3 col-sm-6">
            <label>PaymentBy : </label>
            <input type="text" id="PaymentBy" value="@objDetails.PaymentBy" name="PaymentBy" class="form-control">
        </div>*@
                <div class="row">
                    <div class="col-xs-12 col-lg-3 col-sm-6">
                        <label>Address : </label>
                        <textarea name="Address" id="Address" onclick="ResetValidateClass();" class="form-control">@objDetails.Address</textarea>
                    </div>
                </div>





            </div>
        </div>
        <div class="box">
            <!-- /.box-header -->
            <div class="box-body text-right">
                <input type="submit" value="Submit" class="btn btn-primary" onclick="return Validate();" />
                <a class="btn btn-info" href="@Url.Action("Index", "Donors")">Cancel</a>
            </div>
            <!-- /.box-body -->
        </div> 
    }
</div>
