@using System.Configuration;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_MainLayout.cshtml";

    var imgloc = ConfigurationManager.AppSettings["baseurl"] + "Content/Admin/news/normalimages/";
    
}

<script type="text/javascript">

    $(document).ready(function () {
        $('#wNews').addClass('active');
        $('#Others').addClass('active');
        $('.alert-danger').append('<i class="fa fa-ban"></i><button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>');
        $('.alert-success').append('<i class="fa fa-check"></i><button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>');
        $(".date").datepicker({ changeMonth: true, changeYear: true, yearRange: "-90:+0", altFormat: 'mm/dd/yy' });
          
        PagerClickBind();
    });

    function sortresult(sortcolumn) {
        $('#hdnsortorder').val(($('#hdnsortorder').val() == 'ASC' ? 'DESC' : 'ASC'));
        $('#hdnsortcolumn').val(sortcolumn);
        NewsBind(1);
    }

    function NewsBind(Pageno) {
        var pageno = Common.Pageno(Pageno);
        var sortcolumn = $('#hdnsortcolumn').val();
        var sortorder = $('#hdnsortorder').val();
        var items = $('#txtitems').val();
        var Search = $('#keyword').val().trim();
        var Type = $('#Type').val();

        $.ajax({
            url: '@Url.Action("NewsList", "News")',
            type: 'GET',
            cache: false,
            data: {Type: Type, Search: Search, PageNo: pageno, SortColumn: sortcolumn, SortOrder: sortorder, Items: items },
            success: function (result) {
                $('#divNews').html(result);
                PagerClickBind();
            }
        });
    }

    function PagerClickBind() {
        $(".pagination a").bind("click", function () {
            NewsBind($(this).text());
        });
    }

    function EditNews(NewsId) {
        $.ajax({
            url: '@Url.Action("EditNews", "News")',
            type: 'POST',
            data: { NewsId: NewsId },
            datatype: "JSON",
            success: function (result) {
                if (result.ok) {
                    var objNews = result.data;
                    $('#NewsId').val(objNews.NewsId);
                    $('#Title').val(objNews.Title);
                    $('#NewsText').val(objNews.NewsText);
                    $('#PostDate').val(Common.ConvertDate(objNews.PostDate));
                    $('#DisplayOrder').val(objNews.DisplayOrder);
                    $('#Add-News').modal('show');
                    $('#lbltitle').html('Edit News');
                    $('#Aspanfile').html('');
                    $('#Title').focus().removeClass("red-border");
                    $('#NewsText').focus().removeClass("red-border");
                    $('#PostDate').focus().removeClass("validate");
                    $('#spanImageUrl').html('');
                }
                else {
                    $('#divmessage').val(result.data);
                    $('.alert-danger').append('<i class="fa fa-ban"></i><button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>');
                }
            }
        });
    }

    

    function ViewNews(NewsId) {
        $.ajax({
            url: '@Url.Action("ViewNews", "News")',
            type: 'POST',
            data: { NewsId: NewsId },
            datatype: "JSON",
            success: function (result) {
                if (result.ok) {
                    var objNews = result.data;
                    $('#vNewsId').val(objNews.NewsId);
                    $('#vTitle').html(objNews.Title);
                    $('#vPostDate').html(Common.ConvertDate(objNews.PostDate));
                    $('#vDisplayOrder').html(objNews.DisplayOrder);
                    $('#vNewsText').html(objNews.NewsText);

                    $('#View-News').modal('show');
                    $('#vbltitle').html('View News Details');

                }
                else {
                    $('#divmessage').val(result.data);
                }
            }
        });
    }

    function Add() {
        clearInnerPageCategory();
        $(".date").datepicker({ changeMonth: true, changeYear: true, yearRange: "-90:+0", altFormat: 'mm/dd/yy' });
        $("#Add-News").modal('show');
        $('#lbltitle').html('Add News');
    }

    function clearInnerPageCategory() {
        $('#NewsId').val('0');
        $('#Title').val('');
        $('#NewsText').val('');
        $('#ImageUrl').val('');
        $('#PostDate').val('');
        $('#DisplayOrder').val('');
        $('#spanfile').html('');
        $('#spanTitle').html('');
        $('#spanNewsText').html('');
        $('#spanImageUrl').html('');
        $('#spanPostDate').html('');
        $('#spanDisplayOrder').html('');
        $('#Title').focus().removeClass("validate");
        $('#NewsText').focus().removeClass("validate");
        $('#ImageUrl').focus().removeClass("validate");
        $('#PostDate').focus().removeClass("validate");
        $('#DisplayOrder').focus().removeClass("validate");
        
    }
    function Validate() {

        if ($('#Title').val() == "") { $('#Title').addClass("validate"); return false; } else { $('#Title').focus().removeClass("validate"); }
        if ($('#PostDate').val() == "") { $('#PostDate').addClass("validate"); return false; } else { $('#PostDate').focus().removeClass("validate"); }

        if ($('#NewsId').val() == "0") {
            if ($('#ImageUrl').val() == "") { $('#spanfile').html('Required.'); $('#ImageUrl').focus(); return false; } else { $('#spanfile').html(' '); }

            if (!Common.isImage($('#ImageUrl').val())) { $('#spanfile').html('Sorry image is invalid. Only allowed extensions are:<b>jpg, png, PNG, gif, jpeg, JPEG</b>.'); $('#ImageUrl').focus(); return false; } else { $('#spanfile').html(''); }
            //if ($('#hdnimgvalidate').val() == '0') { $('#spanfile').html('Please select image with diemensions equal to 1366 * 543.'); $('#ImageUrl').focus(); return false; } else { $('#spanfile').html(''); }
        }
        if ($('#ImageUrl').val() != "") {
            if (!Common.isImage($('#ImageUrl').val())) { $('#spanfile').html('Sorry image is invalid. Only allowed extensions are:<b>jpg, png, PNG, gif, jpeg, JPEG</b>.'); $('#ImageUrl').focus(); return false; } else { $('#spanfile').html(''); }
            //if ($('#hdnimgvalidate').val() == '0') { $('#spanfile').html('Please select image with diemensions equal to 1366 * 543.'); $('#ImageUrl').focus(); return false; } else { $('#spanfile').html(''); }
        }
        if ($('#NewsText').val() == "") { $('#NewsText').addClass("validate"); return false; } else { $('#NewsText').focus().removeClass("validate"); }
        //if ($('#DisplayOrder').val() == "") { $('#DisplayOrder').addClass("validate");  return  false; } else { $('#DisplayOrder').focus().removeClass("validate"); }

        return true;
    }

    function ResetValidateClass() {
        $('#Title').removeClass("validate");
        $('#NewsText').removeClass("validate");
        $('#PostDate').removeClass("validate");
        $('#DisplayOrder').removeClass("validate");
    }

    function ClearSearch() {
        $('#keyword').val('');
        $('#Type').val('');
        NewsBind(1);
    }
</script>
<input type="hidden" id="hdnimgvalidate" value="0" />
<input id="hdnPageNo" type="hidden" value="1" />
<input id="hdnsortcolumn" type="hidden" value="NewsId" />
<input id="hdnsortorder" type="hidden" value="ASC" />

<!-- breadcumb -->
<div class="content-header">
    <h1>News </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index","Home")"><i class="fa fa-dashboard"></i>Home</a></li>
        <li class="active"><i class="fa fa-tasks"></i>News</li>
    </ol>
</div>
<!--end breadcumb -->
<div class="content">
    <!-- Main content -->

    <div id="divmessage">
        @if (TempData["message"] != null)
        { @Html.Raw(TempData["message"].ToString())}

        @if (ViewBag.message != null)
        { @Html.Raw(ViewBag.message.ToString())}
    </div>
    <div class="box">
        <div class="clearfix box-body">
            <div class="clearfix row">
                <div class="col-xs-12 col-lg-3 col-sm-6">
                    <label>Search</label>
                    <input type="text" placeholder="News Title" name="keyword" id="keyword" class="form-control" />
                </div> 
                <div class="col-xs-12 col-lg-9 col-sm-6">
                    <div>
                        <label>&nbsp;</label>
                    </div>
                    <button class="btn btn-primary" type="submit" onclick="NewsBind(1);">Search</button>
                    <button class="btn btn-info" type="submit" onclick="ClearSearch();">Clear</button>
                    <a data-toggle="modal" href="@Url.Action("AddNews", "News")" class="btn btn-danger pull-right">Add News</a>
                </div>
            </div>
        </div>
        <div id="divNews" class="box-body table-responsive">
            @{Html.RenderAction("NewsList", "News");}
        </div>

    </div>
</div>
 
<script>
    var _URL = window.URL || window.webkitURL;
    $("#ImageUrl").change(function (e) {
        var file, img;
        if ((file = this.files[0])) {
            img = new Image();
            img.onload = function () {
                if (this.width == 1366 && this.height == 543) {
                    $('#hdnimgvalidate').val('1');
                }
                else {
                    $('#hdnimgvalidate').val('0');
                }
            };
            img.src = _URL.createObjectURL(file);
        }
    });

</script>
