@{    
    ViewBag.Title = "Media Coverage - " + System.Configuration.ConfigurationManager.AppSettings["ApplicationName"];
    Layout = "~/Areas/User/Views/Shared/_MainLayout.cshtml";
    var lstVideos = (List<TCAssociationTool.Entities.Videos>)ViewBag.lstVideos;
    var lstVideoCategories = (List<TCAssociationTool.Entities.VideoCategories>)ViewBag.lstVideoCategories;
    ViewBag.heading = "MediaCoverage";
    Int64 PageId = 0;
    int Status = 0;
    TCAssociationTool.BLL.InnerPages _InnerPages = new TCAssociationTool.BLL.InnerPages();
    TCAssociationTool.Entities.InnerPages objInnerPages = _InnerPages.GetInnerPagesListById(PageId, "Media Page Content", ref Status);
}

<article class="clearfix l-r-p40 t-b-p5 white-bg tabhorizontal-l-r-p10">
    <article class="clearfix part-row">
        <article class="clearfix part-9">
            <h2 class="clearfix font30 Anton mobile-font20 mobile-t-c t-p8 dkpink-t tabhorizontal-font28 t-m0"><span class="blue-t">Media </span>Coverage</h2>
        </article>
        <article class="clearfix part-3">
            <article class="clearfix mobile-dis-b mobile-t-c mobile-b-p5">
                <ul class="list-pn list-f b-m0 mobile-dis-in">
                    <li><a  href="@Url.Action("AddMember", "Members")" class=" r-m5">
                        <img src="Content/User/images/reg.png" title="Member Registration" width="53" height="54" /></a></li>
                    <li><a href="@Url.Action("Index", "Donation")" class=" r-m5">
                        <img src="Content/User/images/don.png" title="DonateNow" width="53" height="54" /></a></li>
                    <li><a href="@Url.Action("AddVolunteer", "Volunteer")">
                        <img src="Content/User/images/mem.png" title="Volunteer Registration" width="53" height="54" /></a></li>
                </ul>

            </article>
        </article>
    </article>
</article>
<article class="clearfix white-bg p10 t-p0">

    <article class="clearfix dk-gray-bg flower-border-new">
        <article class="clearfix l-r-p30 t-b-p40 tabhorizontal-p15 tabhorizontal-minheight0" style="min-height: 1065px;">
            @if (lstVideoCategories != null && lstVideoCategories.Count != 0 && lstVideos.Count != 0)
            {
                foreach (var VideoCategory in lstVideoCategories)
                {
                    if (VideoCategory.CategoryName == "Media Coverage")
                    {
                        if (lstVideos != null && lstVideos.Count != 0 && VideoCategory.VideosCount != 0)
                        {
                @*<h4 class="poppinssemibold blue-t font20 t-p10 mobile-t-p10 t-m0 border-b b-p5 b-m15">@VideoCategory.CategoryName  </h4>*@
                            if (lstVideos != null && lstVideos.Count != 0)
                            {
                <ul class="clearfix list-pn list-f t-p25 gallery-list1">
                    @foreach (var item in lstVideos)
                    {
                        if (item.VideoCategoryId == VideoCategory.VideoCategoryId)
                        {
                        <li>
                            <article class="clearfix position-r overflow-h white-bg p5 shadow border">
                                <a href="https://www.youtube.com/embed/@(item.VideoUrl)" data-fancybox-group="gallery" class="various fancybox.iframe dis-b"><span class="clearfix dis-b OpenSans-Semibold font11 white-t"><span class="video-icon-hover">&nbsp;</span> </span>
                                    <img alt="@item.Heading" title="@item.Heading" src="http://i1.ytimg.com/vi/@(item.VideoUrl)/hqdefault.jpg"  class="width100" width="226" height="123" border="0">
                                </a>
                            </article>
                            <span class="dis-b t-c t-p7 font14"><a class="dkpink-t poppinssemibold">@item.Heading</a></span></li>
 
                        }
                    }
                </ul>
                            }
                        }
                    }
                }
            }
            else
            {
                <h3 class="red-t Poppins-SemiBold font24 tbp20 t-c mobile-font15">No Media Found</h3>
            }

        </article>
    </article>
</article>
